.gradient-background {
    background: linear-gradient(90deg, #777777, #BBBBBB, #614779);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease-in-out infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


